<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamdaddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PreferenceActivity"></activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.RoleSelectionActivity" />
        <activity android:name=".activities.RoleSugarDaddyActivity" />
        <activity android:name=".activities.FormSelectionDaddyActivity" />
        <activity android:name=".activities.RoleSugarBabyActivity" />
        <activity android:name=".activities.FormSelectionBabyActivity" />
        <activity android:name=".activities.GridDaddysActivity" />
        <activity android:name=".activities.SelectedProfileActivity" />
    </application>

</manifest>